.feedback-controls {
  position: fixed;
  top: 40%;
  right: -7%;
}

.open-close {
  display: inline-block;
  font-size: 17px;
  top: 60px;
  width: 16px;
  cursor: pointer;
  height: 42px;
  vertical-align: top;
  background: #267CB6;
  color: white;
  padding: 18px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
}

.adding-feedback {
  display: none;
  font-family: 'Brandon Text', Avenir, Helvetica, sans-serif;
  font-size: 11px;
  position: fixed;
  top: 0;
  background: #267CB6;
  color: white;
  padding: 5px 8px;
  width: 100%;
  left: 0;
  text-align: center;
}

.adding-feedback.visible {
  display: inline-block;
}

.feedback-buttons {
  display: inline-block;
}

.feedback-controls button {
  height: 30px;
  background: #3498db;
  border: none;
  color: white;
  outline: none;
  width: 100px;
  display: block;
  cursor: pointer;
  vertical-align: top;
  border-bottom: 1px solid #267CB6;
}

.feedback-controls button:last-child {
  border-bottom: none;
}

.feedback .btn {
  background: #5fbe20;
  color: white;
  border: none;
  width: 100%;
  height: 40px;
  margin-top: 7px;
  cursor: pointer;
}

.feedback .btn:disabled {
  background: #ccc;
  color: #bbb;
  cursor: not-allowed;
}

.feedback .user {
  background: #3498db;
  color: white;
  padding: 2px 4px;
  border-radius: 2px;
  display: inline-block;
  max-width: 223px;
}

.feedback {
  font-family: 'Brandon Text', Avenir, Helvetica, sans-serif;
  color: #444;
  font-size: 14px;
  width: 26px;
  height: 17px;
  display: block;
  background-color: #3498db;
  position: absolute;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  padding: 10px 0 0 0 !important;
  margin-top: -10px;
  margin-left: -10px;
}

.feedback figure {
  font-size: 14px;
  line-height: 100%;
  margin: 0;
  color: white;
  position: relative;
  top: -3px;
  right: -9px;
}

.feedback {
  position: absolute;
}

.feedback .feedback-content {
    display: none;
    position: absolute;
    background-color: #f3f3f3;
    border-radius: 7px;
    margin-top: 1px;
    margin-left: -1px;
    width: 250px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 0 8px 6px rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.feedback:hover .feedback-content {
  display: block;
  z-index: 999;
}

.feedback .feedback-content.open {
  display: block;
}

.feedback .feedback-content:before {
  border: solid;
  border-color: #F3F3F3 transparent;
  border-width: 0px 7px 9px 7px;
  top: -9px;
  left: 7px;
  content: "";
  position: absolute;
}

.feedback .comment-span {
  float: left; 
}

.feedback .comment {
  line-height: 1.5em;
  display: block;
  float: left;
  margin-bottom: 8px;
  margin-right: 22px;
  width: 85%;
}

.feedback .comments {
  float: left;
  clear: both;
}

.feedback .comment-container {
  float: left;
  clear: both;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  width: 250px;
  padding: 10px;
}

.feedback .feedback-input {
  outline: 0;
  background-color: #EEE;
  border-radius: 1px;
  margin-left: 8px;
  margin-bottom: 3px;
  width: 233px;
  background: none;
  border: 1px dashed #ccc;
  padding: 7px;
  min-height: 30px;
  margin-top: 4px;
  font-family: 'Brandon Text', Avenir, Helvetica, sans-serif;
  color: #444;
  font-size: 14px;
}

.feedback textarea {
    resize: none;
    overflow-y: hidden;
}

.feedback .feedback-input:first-child {
  margin-top: 10px;
}

.feedback .feedback-input:focus, .feedback-input[value=""] {
  border: 1px solid transparent;
}

.border {
  outline: 4px solid #3498db;
}